.tab{
    &.MuiButtonBase-root.MuiTab-root {
        color: $text-color;
        border-bottom: $detail-color;
        font-weight: 300;
        text-transform: none;
        font-size: 20px;

    }
}

.tabContainer{
    & .MuiTabs-indicator{
        background-color: $detail-color;
        box-shadow: 0 0 5px $detail-color;
        bottom: -2px;
    }

    & .MuiTabs-scroller{
        overflow: visible !important;
    }
}