.searchBarContainer{
    height: 50px;
    margin-bottom: 20px;
    width: 300px;
    display: inline-block;
}

.searchForm{
    border-radius: $border-radius;
    width: 32px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border: $detail-color solid 2px;
    transition: all 1s ease;
}

.searchForm:focus, .searchForm:hover{
    width: 30%;

    & .searchBar{
        display: block;
        transform: scaleX(1);
    }

}

.searchBar{
    height: 75%;
    width: 70%;
    background: $background-color;
    border:none;

    // display: none;

    transform: scaleX(0);

    color: #fff;

    transition: all 1s ease;
    margin-right: 20px;
}

.searchBar:focus{
    display: block;
    transform: scaleX(1);
    outline: none;

    .searchForm &{
        width: 100%;
    }
}

#searchBtn{
    z-index: 1;
    color: $detail-color;
    background: none;
    border:none;

    font-size: 20px;
    padding: 0.2em 0.2em 0.1em;
}